// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {

    background-repeat: no-repeat;
    background-size: 1750px, 719px;
    overflow: hidden;


}

#loading-indicator {
  position: absolute;
  display:block;
  margin: 0 auto;
}



.cloudy {
  background-image: url("day_cloudy_3.jpg");
  background-repeat: no-repeat;
  background-size: 1750px, 719px;

}

.rainy {
  background-image: url("day_thunderstorm_1.jpg");
  background-repeat: no-repeat;
  background-size: 3600px, 719px;

}

.sunny {
  background-image: url("Miami-City-Page.jpg");
  background-repeat: no-repeat;
  background-size: 1750px, 719px;


}

//to add room for iphone X camera
.top_half {
  padding-top: 100px;
}

.popup-inner {

max-width:500px;
width:70%;
height:13%;
padding:60px;
position:absolute;
top:20%;
left:50%;
-webkit-transform:translate(-50%, -50%);
transform:translate(-50%, -50%);
box-shadow:0px 2px 6px rgba(0,0,0,1);
border-radius:3px;
background:#fff;
}
/* Close Button */
.popup-close {
width:30px;
height:30px;
padding-top:4px;
display:inline-block;
position:absolute;
top:0px;
right:0px;
transition:ease 0.25s all;
-webkit-transform:translate(50%, -50%);
transform:translate(50%, -50%);
border-radius:1000px;
background:rgba(0,0,0,0.8);
font-family:Arial, Sans-Serif;
font-size:20px;
text-align:center;
line-height:100%;
color:#fff;
}
.popup-close:hover {
-webkit-transform:translate(50%, -50%) rotate(180deg);
transform:translate(50%, -50%) rotate(180deg);
background:rgba(0,0,0,1);
text-decoration:none;
}

#zip{
 font-size: 40px;
 // width: 40%;
}

.location p {
   display: block;
   margin-left: auto;
   margin-right: auto;
   color: #FFF;
   font-family: 'Lora', serif;
   text-align: center;
   font-size: 11vw;
}               


//temperature

.temperature p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #FFF;
    font-family: "Lucida Grande";
    font-size: 150px;
    text-align: center;
}

//weather description

.desc {
  display:block;
  height: 10px
};

//logo

.wwlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  top: 10px;
  height: 150px;
  width: 150px;

}

//city

.location p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: #FFF;
    font-family: 'Lora', serif;
    font-size: 100px;
    line-height: 48px;
    text-align: center;
}

//weather conditions
.w_description p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color: #FFF;
  font-family: 'Lora', serif;
  font-size: 80px;
  line-height: 48px;
  text-align: center;
}


//carousel
.carousel {
  height: 1450px!important;
  bottom: 350px;

}


.carousel-item {
  height: 750px!important;
  width: 750px!important;
  // box-shadow: 2px 4px 14px 0 rgba(0,0,0,0.5);
}

.carousel img {
    border-radius: 50px !important;
    box-shadow: 2px 4px 14px 0 rgba(0,0,0,0.5);
}


// Tab bar
.footer {
  position: absolute;
  // width: 770px;
  width: 100%;
  // left: 104px;
  bottom: -2px;
  margin: 0px !important;
 .tabs, .tab {
   height: 100px !important;
   a.active{
     color: white !important;
     background-color: #568ea3 !important;
     opacity: 0.5;
   }
   a, .active{
     padding: 27px !important;
     font-size: 30px !important;
     color: #568ea3 !important;
   }
 }
}


.tabs .indicator {
  background-color: #568ea3 !important;
}

// loading
