// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {

    background-repeat: no-repeat;
    background-size: 1750px, 719px;
    overflow: hidden;

}

.few_clouds {
  background-image: url("day_cloudy_3.jpg");

}

.scattered_clouds {
  background-image: url("day_cloudy_3.jpg");

}

.broken_clouds {
  background-image: url("Miami-City-Page.jpg");

}

.clear_sky {
    background-image: url("Miami-City-Page.jpg");

}

.snow {
  background-image: url("day_thunderstorm_1.jpg");

}

.mist {
  background-image: url("day_thunderstorm_1.jpg");

}

.shower_rain {
  background-image: url("day_thunderstorm_1.jpg");

}

.rain {
  background-image: url("day_thunderstorm_1.jpg");

}

.thunderstorm {
  background-image: url("day_thunderstorm_1.jpg");

}

.sunny {
  background-image: url("Miami-City-Page.jpg");


}

//to add room for iphone X camera
.top_half {
  padding-top: 100px;
}



//temperature

.temperature p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: #FFF;
    font-family: "Lucida Grande";
    font-size: 150px;
    line-height: 84px;
    text-align: center;
}

//weather description

.desc {
  display:block;
  height: 10px
};

//logo

.wwlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  top: 10px;
  height: 150px;
  width: 150px;

}

//city

.location p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: #FFF;
    font-family: 'Lora', serif;
    font-size: 100px;
    line-height: 48px;
    text-align: center;
}

//weather conditions
.w_description p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color: #FFF;
  font-family: 'Lora', serif;
  font-size: 80px;
  line-height: 48px;
  text-align: center;
}


//carousel
.carousel {
  height: 1450px!important;
  bottom: 350px;

}


.carousel-item {
  height: 750px!important;
  width: 750px!important;
  // box-shadow: 2px 4px 14px 0 rgba(0,0,0,0.5);
}

.carousel img {
    border-radius: 50px !important;
    box-shadow: 2px 4px 14px 0 rgba(0,0,0,0.5);
}


// Tab bar
.footer {
  position: absolute;
  // width: 770px;
  width: 100%;
  // left: 104px;
  bottom: -2px;
  margin: 0px !important;
 .tabs, .tab {
   height: 100px !important;
   a.active{
     color: white !important;
     background-color: #568ea3 !important;
     opacity: 0.5;
   }
   a, .active{
     padding: 27px !important;
     font-size: 30px !important;
     color: #568ea3 !important;
   }
 }
}

.tabs .indicator {
  background-color: #568ea3 !important;
}
